form.signup,
form.login {
  margin-top: 50px;
}

.welcomeMsg {
  margin-top: 80px;
  margin-left: 30px;
}

.logoutBtn {
  margin-bottom: 30px;
  margin-left: 30px;
}

label {
  margin-right: 15px;
  margin-bottom: 15px;
}

.title {
  color: aqua;
}

.subtitle {
  color: white;
  font-style: italic;
}

.has-bg-img {
  background-image: url('../img/cityskyline.png');
  background-size: cover;
}

.welcomeMsg, .logoutBtn {
  color: lightgrey;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

#submitwrapper {
  text-align: center;
}

#submit {
  font-family: 'Poppins', sans-serif;
  background-color: aqua;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  display: inline-block;
}

#cards{
  display:none;
}