form.signup,
form.login {
  margin-top: 50px;
}

.welcomeMsg {
  margin-top: 80px;
  margin-left: 30px;
}

.logoutBtn {
  margin-bottom: 30px;
  margin-left: 30px;
}

.box {
  background-color: rgb(226, 226, 226);
}

label {
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

#days {
  width: 55%;
}

.title {
  color:  rgb(57, 226, 226);
  margin-top: -60px;
}

.subtitle {
  color: white;
  font-style: italic;
  margin-bottom: 60px;
}

.has-bg-img {
  background-image: url('../img/newCityskyline');
  background-size: cover;
}

.welcomeMsg, .logoutBtn {
  color: lightgrey;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

::-webkit-input-placeholder {
  font-style: italic;
}

#submitwrapper {
  text-align: center;
}

#submit {
  font-family: 'Poppins', sans-serif;
  background-color:  rgb(57, 226, 226);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  display: flexbox;
}

#cards {
  font-family: 'Poppins', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: slategrey;
}

.card-header-title {
  color: white;
}

.fa-angle-down {
  color: white;
}

.card-footer-item {
  color: whitesmoke;
  background-color: rgb(163, 162, 162);
}

.card-content {
  color: lightgray;
  background-color: steelblue;
}
/* 
#save {
  background-color: rgb(67, 201, 67);
}

#edit {
  background-color: rgb(247, 247, 127);
}

#delete {
  background-color: tomato;
} */